<div class="login-root">
  <h2> Iniciar Sesión</h2>

  <div class="login-card">

    <div class="login-field">
      <input type="email" placeholder="Introduce tu Email"
             [(ngModel)]="datosLogin.email"
             class="login-input">
    </div>

    <div class="login-field">
      <input type="password" placeholder="Introduce tu Contraseña"
             [(ngModel)]="datosLogin.password"
             class="login-input">
    </div>

    <button (click)="hacerLogin()" class="login-button">
      Entrar
    </button>

  </div>

  <h3 class="login-mensaje">{{ mensaje }}</h3>
</div>
